* { direction: rtl; }

.owl-carousel .owl-wrapper-outer{direction:ltr;}

/*-------------------------------------Float Left-------------------------------------*/
.header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,
.category_filter .limit, .page-link,.dropdown.myaccount,
#cart .button-container,.information-information .right,
.header-right,.col-sm-3.header-cart,.subbanner-cms1,.category_tab .nav-tabs,.subbannercmspart2,
.payment-cms,.category .image, .tab-head .coupon, .footer-logo {float:right;}
/*-------------------------------------------------------------------------------------*/
/*.lang-curr*/
/*-------------------------------------Float Right-------------------------------------*/
.header-logo,.header-search,.category_filter,.btn-list-grid,.compare-total,.category_filter .show,
.category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4,
.contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,.contact-info .openingtime,
.pagination-wrapper .page-result, .nav-tabs > li,legend, .product-thumb .price-new, .product-thumb .price-old, .header-left,
.headertopleft,#search,#search .input-group-btn,#search .input-lg,.main-menu ul > li, .box-category-heading,.offer-part1,
.offer-part2,.category_tab ul li, .subbannerpart1, .subbannerpart2, .subbannerpart3,.subbannercmspart1,.social-cms,
.cat-desc,ul.subcats,#top-links ul.list-inline,.shopping-cart .input-group .form-control,.cate-heading,.contact-info .comments,
.app-cms li a, .megnorcategory .dropmenu .categorycolumn li a, .col-sm-5.header-search, 
#button-cart, .productpage .form-group.qty .wishlist, .productpage .form-group.qty .compare, .header_wishlist, .col-sm-3.header_cart, .brand-name{float:right;}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: right;
}

/*-------------------------------------------------------------------------------------*/
.offer-title{ float: right; }
.top-links-cover {float: left;}
.top-links .links-item{padding: 0 30px 0 0;}
.top-links .links-item::before{ left: -20px }
.col-sm-4.header-logo {
	margin: 3px 25px 3px 20px;
	text-align: right;
}
.col-sm-4.search_term {
	padding-right: 0 !important;
	padding-left: 15px;
}
.top_level.home.odd {
	padding-right: 36px;
	padding-left: 0;
}
.search_box{ float: right; }
.header_search .form-control.input-lg{padding: 10px 10px 10px 45px !important; float: right;}
.search_box .form-control-select, .search_box .form-control-select.active{border-radius:0 30px 30px 0; background-position: 15px 20px;}
.search_box::after{left: 0; right: auto;}
.header_search .btn.btn-default.btn-lg {
	left: 0;
	right: auto;
}
#servicecmsblock .Fourth-content-four, #servicecmsblock .third-content-three, #servicecmsblock .second-content-two, #servicecmsblock .first-content-one, #servicecmsblock .Fifth-content-five {
	float: right;
}
.product_hover_block {
	float: right;
}
.cmsbanner-block1, .cmsbanner-block2, .cmsbanner-block3 {
	float: right;
}
.product-grid .product-block-inner {
	border-left: 1px solid #ededed;
	border-right: 0 !important;
}
.product-grid:nth-child(4n) .product-block-inner {
	border-left: none;
}
.category_img a {
	float: right;
}
.category_img {
	float: right;
}
.footer-right .owl-buttons {
	top: -40px;
	bottom: auto;
	width: auto;
	position: absolute;
	z-index: 2;
	opacity: 1;
	float: left;
	left: 0;
	right: auto;
}
#servicecmsblock .Fourth-content-four::after, #servicecmsblock .third-content-three::after, #servicecmsblock .second-content-two::after, #servicecmsblock .Fifth-content-five::after {
	right: -30px;
	left: 0;
}
.category_list1, .category_list2, .category_list3, .category_list4, .category_list5, .category_list6 {
	float: right;
}
.category_list_cms {
	float: right;
}
#servicecmsblock .icon-left1, .icon-left2, .icon-left3, .icon-left4, .icon-left5 {
	float: right;
	margin: 0 0 0 8px;
}
.footer-right .title {
	padding-right: 90px;
	padding-left: 0;
}
.footer-right .title1 {
	padding-right: 90px;
	padding-left: 0;
}
.list_inner {
	float: right;
}
.service-right {
	text-align: right;
}
.main-menu ul > li:last-child a {
	border-left: none;
}
.navbar-nav > li > a {
	border-left: 1px solid #e2e2e2;
	border-right: 0;
}
.myaccount > a {
	margin: 0 15px 0 25px;
}
#searchbox {
	float: right;
}
.header-left .box-content {
	left: 100%;
	right: auto;
}
.header_wishlist > a .count {
	margin-right: 0;
	margin-left: 14px;
}
.header_wishlist > a span {
	margin-right: 0;
	margin-left: 3px;
}
.box-heading-category {
	padding-right: 12px;
	padding-left: 0;
}
.header-left .box.active .box-content {
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}
.header_top .account{ float: left; }
.cart_image{ float: right; }
#cart-total{ text-align: right; }
.box-category-top{float: right;}
.col-sm-3.header_cart {
	padding: 4px 12px 0 0;
}
.header_compare {
	float: right;
	margin: 8px 0 0 15px;
}
.box {
	float: right;
}
.header-right {
	float: left;
}
.offer_title {
	padding-right: 10px;
}
.header_right {
	float: right;
	border-left: 0;
	border-right: 1px solid #629b64;
}
.box-category-top::before{ right: 20px; left: auto; }
.box-heading .fa.fa-angle-down {margin: 0 5px 0 0;}
.header_center{ float: right; }
.static-menu {margin: 0 15px 0 0;}
.box-content-category a::before, #nav-one .dropdown a::after, #nav-one li .megamenu.column1 ul.list-unstyled > li.dropdown a::after{
	transform: rotateY(180deg); 
	-webkit-transform: rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	right: 20px;
}
#nav-one > li > .dropdown-menu, #nav-one li .megamenu.column1 ul.list-unstyled > li.dropdown .dropdown-menu{ right: 100%; left: auto; }
#nav-one li .megamenu.column1 ul.list-unstyled > li.dropdown .dropdown-menu{padding: 15px 15px 15px 0;}
.box-content-category a {padding: 13px 50px 13px 53px;}
#nav-one ul{ text-align: right; }
#nav-one li .megamenu ul.list-unstyled li .dropdown-menu{ float: right; }
#nav-one li .megamenu ul.list-unstyled li .dropdown-menu ul.list-unstyled li > a {padding: 8px 15px 8px 0;}
#nav-one li .megamenu ul.list-unstyled li .dropdown-menu ul.list-unstyled li > a::before, 
#nav-one > li.top_level.dropdown .megamenu.column1 .list-unstyled.childs_1 li a::before, #nav-one .hiden_menu .dropdown-menu a::before{ right: 0; left:auto; }
#nav-one > li > .dropdown-menu.megamenu.column1, #nav-one .hiden_menu .dropdown-menu{padding: 20px 20px 20px 0px; right: 100%; left: auto;}
#nav-one > li > .dropdown-menu.megamenu.column1 a, 
#nav-one li .megamenu.column1 ul.list-unstyled > li.dropdown > a, #nav-one .hiden_menu .dropdown-menu a{padding: 8px 15px 8px 0;}
#nav-one .dropdown a::after, #nav-one li .megamenu.column1 ul.list-unstyled > li.dropdown a::after{left: 20px; right: auto;}
.box-content-category .hiden_menu span.main{padding: 13px 50px 13px 85px;}
.box-content-category .hiden_menu span.main::after{left: auto; right: 25px;}
.dropdown-menu.pull-right, .dropdown-menu-right {right: auto; left: 0; top: 58px !important;}
.login_acc li::after{right: 15px; left: auto; transform: rotateY(180deg); -webkit-transform: rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);}
#form-currency .btn-link, #form-language .btn-link{ float: right; }
#form-currency .currency-select{ text-align: right; }
.swiper-viewport .swiper-button-next { left: auto; right: -5px;}
.swiper-viewport .swiper-button-prev { right: auto; left: 10px;}
.swiper-wrapper{ direction: ltr; }
.cms-inner-block1, .cms-inner-block2{ float: right; }
.cmsbanner-block1 .cms-inner-block1 .description, .cmsbanner-block2 .cms-inner-block1 .description, .cmsbanner-block3 .cms-inner-block1 .description {
	right: 100px;
	left: auto;
}
.cms-inner-block1 .view {
	right: 80%;
	left: auto;
}
.box .box-content .box-category {
	padding: 0 12px 0 15px;
}
.box.recent .product-block .product-details {
	padding: 24px 12px 0 0;
	
}
.content_footer_left #block_1 {
padding-right: 0;
	padding-left: 80px;
}
.product-carousel .slider-wrapper-outer{ width: auto; }
.countbox.hastime{ float: left; }
.countbox .timebox{ float: right; margin: 0 0 0 5px; }
.countbox .timebox::after{left: -5px; right: auto;}
.product-block .product-details {text-align: right;}
.product-brand{ float: right; }
.product-thumb .price-old{margin: 0 5px 0 0;}
.product_hover_block .action button, .quickbox, .quickview-button{ float: right; }
.tab-head{float: right; margin-right:0; margin-left: -1px;}
.product-column{ float: right;  }
.newsletter .news {
	float: right;
	padding: 0 45px 0 0;
	background-position-x: right;
}
.box .box-content ul li a, #content .content ul li a {
	padding: 15px 40px 15px 0;
}
.box .box-content ul li ul li a {
	padding: 10px 40px 10px 0;
}
.box .box-content .box-category a::before {
	left: auto;
	right: 13px;
	transform: rotateY(180deg);
}
.form-group.qty #button-cart {
margin-right: 0;
	margin-left: 8px;
}
.box.active .box-heading-header::before {
	float: right;
	right: 49px;
	left: auto;
	-webkit-transform: translate(-529%, 0);
	-moz-transform: translate(-529%, 0);
	-ms-transform: translate(-529%, 0);
	-o-transform: translate(-529%, 0);
	transform: translate(-529%, 0);
	}
}

.header-left .box.active .box-content {
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.treeview-list .hitarea {
	float: left;
}
.main-menu .lang-curr-wrapper {
	float: left;
}
.treeview-list .expandable-hitarea {
	text-align: left;
}
.newsletter .form-group {
	float: right;
	padding-right: 30px;
	padding-left: 0;
}
.main-menu .lang-curr-wrapper ul {
	right: auto !important;
	left: 0 !important;
	float: right;
}
.main-menu #form-currency ul {
	right: auto !important;
	left: 5px !important;
}
#form-language .dropdown-toggle .fa.fa-angle-down {
	margin-left: 0;
	margin-right: 3px;
}
.product-grid li, #content .box-product .product-items {
	float: right;
}
.main-menu #form-language::after {
	right: auto;
	left: 128px;
}
.newsletter span {
	float: right;
}
.Quantity {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.all-blog .blog-left-content {
	float: right;
}
.blog-right-content {
	float: right;
	padding: 50px 50px 50px 0;
}
.layout-2.left-col #column-left {
	padding: 0 0 0 20px;
	border-left: 1px solid #e7e7e7;
	border-right: 0;
	margin-left: -1px;
	margin-right: 0;
}
.collection-right-banner{ float: left; }
.htabs a{padding:10px 30px 10px 0px;}
.htabs a.selected, .htabs li.active a{border-left: 1px solid #fff; border-right: none;}
.htabs a.selected::before, .htabs li.active a::before{ right: 0; left:auto; border-right: 3px solid #f6d000; border-left:none;}
.tab-head .sub-heading{margin: 10px 30px 0 10px;}
.social-block {
	float: right;
}
.social-block ul li {
	float: right;
}
.social-block ul li a {
	margin-right: 0;
	margin-left: 5px;
}
.newsletter .btn.btn-lg {
	left: -115px;
	right: auto;
}
.content_footer_left {
	float: right;
	border-left: 1px solid #629b64;
	border-right: 0;
	width: 27%;
}
.footer-blocks .col-sm-3 {
	width: auto;
	padding-right: 0;
	padding-left: 90px;
}
.list-unstyled {
	padding-right: 0;
}
.footer-right .test-desc {
	padding-right: 92px;
	padding-left: 0;
}
.bottomfooter {
	float: right;
}
.footer-right {
	float: left;
	border-right: 1px solid #629b64;
	border-left: 0;
}
.newsletter #txtemail {
	padding: 10px 20px 10px 0;
}
.input-news .text-danger{ right: 0; left: auto; }
#footer .column li a::before{content: "\f100"; right: 15px; left: auto;}
#footer .footer-area li a{padding: 0;}
.manufacturer_title{float: right;}
.manufacture_block ul{ float: right;}
.manufacture_block ul li {
	padding: 0 10px 2px 15px;
	border-left: 1px solid #fff;
	border-right: 0;
}
.manufacture_block ul li:last-child {
	background: none repeat scroll 0 0 transparent;
	border-left: 0;
}
.breadcrumb li {
	float: right;
}
.breadcrumb li:first-child a {
	padding-right: 10px;
	padding-left: 0;
}
.breadcrumb li a {
	padding: 10px 65px 10px 0;
	float: right;
}
.breadcrumb li a::before {
	border-right: 19px solid #f2f2f2;
	border-left: 0;
	margin-right: 5px;
	margin-left: 0;
	left: 0;
	right: 100%;
}
.breadcrumb li a:hover::after {
	border-right-color: #2a7d2f !important;
	color: #fff;
}
.breadcrumb .fa {
	padding-right: 7px;
	padding-left: 0;
}
.breadcrumb li a::after {
	border-left: 0;
	border-right: 19px solid #fff;
	left: 0;
	right: 100%;
}
.stock_msg {
	padding: 10px 5px 0 0;
	float: left;
	text-align: left;
}
.productpage .special-price {
	float: right;
}
.top_button {left: 0; right: auto;}
.top_button::before {
	right: auto;
	left: 0;
}
.fa.fa-upload {
	padding: 0;
	margin-left: 10px;
	color: #000;
	margin-right: 0;
}

.layout-2.left-col #content {
	padding: 0 20px 0 0px;
	border-right: 1px solid #e7e7e7;
	border-left: 0;
}
.breadcrumb > li + li::before{ float: right; content: "\f100"; }
.category_list li {float: right; margin: 0 0px 0px 10px;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	float: right;
	margin: 3px 0 0 8px;
}
.category_filter .btn-list-grid{float: right;}
.pagination-right{ float: left; }
.sort-by-wrapper, .show-wrapper{ margin: 0 0 0 15px; }
.category_filter .sort-by{float: right; margin: 7px 0px 0 10px;}
span.customSelect{text-align: right;}
.customSelectInner, .customSelectOpen .customSelectInner{ background-position: center left; }
.panel-footer.text-right {text-align: right;}
.product-layout.product-grid{float: right;}
.pagination-wrapper .page-link{float: left;}
.pagination > li {float: right; margin: 0 0 0 10px;}
#column-left .box-product .image, #column-right .box-product .image{float: right; margin: 0 0 0 10px;}
#column-left .product-thumb .price, #column-right .product-thumb .price{text-align: right;}
#column-left .product-thumb .price-new, #column-left .product-thumb .price-old{float: right;}
#content .product-list .product-block .image{ float: right; }
.product-list .product-details{padding: 20px 15px 15px 0;}
.col-sm-4.product-right {padding: 0 40px 0 0px;}
.fa.fa-pencil {margin: 0 0 0 5px;}
.productpage .form-group.qty .wishlist, .quickview .form-group.qty .wishlist {
	margin: 0 0px 0 15px;
}
.breadcrumb li a {
	padding: 10px 25px 10px 0 !important;
}
.product-block.product-thumb.transition {
	float: right;
}
.productpage .product-right ul li span.old-price, .productpage .product-right ul li span.special-price{ margin: 0 10px 0 0; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {margin-right: -1px; margin-left: 0;}
.form-group.qty .control-label {float: right; margin: 10px 0px 0 10px;}
#product .form-group #input-quantity, .quickview-model #input-quantity{ margin: 0 0 0 10px; float: right; }
.productpage .form-group.qty .wishlist::before, .productpage .form-group.qty .compare::before{margin: 0 0 0 7px;}
#custom_tab li{float: right;}
.product-tab .nav{padding: 0;}
.pull-right {float: left;}
.size_guide_table tbody th{text-align: right;}
.productpage-quickview .product-left{float: right;}
.control-label.qty {float: right; margin: 8px 0 0 10px;}
.quickview-container .wish-comp button{ float: right; }
#column-left .treeview .hitarea.expandable-hitarea, .treeview-list .collapsable-hitarea{ float: left; text-align: left; }
.contact-form-design .left{float: right; margin: 0 0 0 30px;}
.contact-info .right{direction: ltr;}
#button-search{float: left;}
.all-blog .panel-default .panel .panel-body h5, .blog-date, .information-blogger-blogs .blog-desc{float: right; text-align: right;}
.information-blogger-blogs .read-more {float: right;}
.user_icon{float: right;margin: 0px 0 0 15px;}
.table-responsive .shopping-cart .btn.btn-primary{border-radius: 0;}
.shopping-cart .btn.btn-danger {border-radius: 0 !important;}
#accordion .panel-heading .fa.fa-caret-down{float: left;}
.text-right {text-align: left;}
.site-map ul {padding: 0 20px 0 0;}
.form-horizontal .control-label {text-align: right;float: right;}
.more-brand {float: left;}
.more-brand > a {margin: 0 0px -15px -15px; border-radius: 0px 5px 0px 5px;}
.write-comment a, .date-time {
	right: 10px;
	left: auto;
}
.recent .product-column .product-carousel .slider-wrapper-outer {
	float: right;
}
.recent .product-carousel .slider-item {
	float: right;
}
.blog-desc {
	text-align: right;
	float: right;
}
.blog-right h4 a {
	float: right;
	text-align: right;
}
.box-content-category, .dropdown-menu-live {
	left: 100%;
	right: auto;
}
.sub-cat .fa-angle-right::before {
	content: "\f104";
}
.sub-cat {
	float: left;
}
.header_top #compare-total::before, #wishlist-total::before, .myaccount > a::before {
	margin-left: 5px;
	margin-right: 0;
}
.header_compare > a span {
	margin-right: 0;
	margin-left: 15px;
}
.box-category-top.active .box-content-category, .dropdown-menu-live.live {
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}


/*-------------------------------------RTL Responsive-------------------------------------*/
@media (max-width: 1249px){
	.countbox .timebox{margin: 0 0 0 3px;}
}

@media (max-width: 1199px){
	.tab-head{ width: 25%; }
	.footer-right .title, .footer-right .test-desc, .footer-right .title1 {
		padding-right: 50px;
	}
	.navbar-nav > li > a {
		border-right: 1px solid #64a267;
		padding: 0 18px !important;
	}

	.tab-head span {float: left;}
	.swiper-viewport .swiper-button-prev::before, .swiper-viewport .swiper-button-next::before {height: 38px;}
	.main-slider .swiper-button-next, .main-slider .swiper-button-prev{margin:0; }
	.cmsbanner-block .description .banner_text{margin: 30px 0 0 0;}
	.product-list .product-details{width: 68%;}
	#servicecmsblock .first-content-one .icon-left1, #servicecmsblock .second-content-two .icon-left2, #servicecmsblock .third-content-three .icon-left3, #servicecmsblock .Fourth-content-four .icon-left4 {
		margin: 0 0 0 10px;
	}
	.product-grid:nth-child(4n) .product-block-inner {
		border-left: 1px solid #ededed;
	}
	.product-grid:nth-child(3n) .product-block-inner {
		border-left: none;
	}
	.cmsbanner-block1 .cms-inner-block1 .description, .cmsbanner-block2 .cms-inner-block1 .description, .cmsbanner-block3 .cms-inner-block1 .description {
		right: 20px;
		left: auto;
	}
	.category_list_cms {
		float: none;
	}
}

@media (max-width: 979px) {
	.cmsbanner-block .description .title{ font-size: 20px; }
	.cmsbanner-block .description .banner_text {margin: 15px 0 0 0;}
	.tab-head {width: 35%;}
	.header_compare {
		margin: 8px 0 0;
	}
	.content_footer_left #block_1 {
		padding: 0 !important;
		width: 100%;
	}
	.footer-right .title {
		padding-right: 0 !important;
		padding-left: 0;
	}
	.footer-right .title1 {
		padding-right: 0 !important;
		padding-left: 0;
	}
	.layout-2.left-col #content, .layout-2.right-col #content {
		width: 100%;
		border: 0;
	}
	.header_wishlist > a .count {
		margin-right: 0;
		margin-left: 0;
	}
	#searchbox {
		top: 61px;
	}
	.dropdown-menu.pull-right, .dropdown-menu-right {
		top: 56px !important;
	}
	.toggle .mobile_togglemenu::before{left: 0; right: auto;}
	#column-left .box-product .product-block-inner, #column-right .box-product .product-block-inner{ float: right; }
	.col-sm-5.header_search {
		float: right;
	}
	#column-left .product-items .product-details, #column-left .product-items .product-details, #column-right .product-items .product-details {
		width: auto;
		float: right;
	}
	.layout-2.left-col #column-left {
		border-left: 0;
		border-right: 0;
	}
	#searchbox {
		right: auto;
		left: -10px;
	}
	.content_footer_left, .footer-right {
		border: none;
		width: 100%;
	}
	.footer-right .test-desc {
		padding: 0;
	}
	.footer-blocks .col-sm-3 {
	padding: 0;
	float: right;
	width: 100%;
	}

}

@media (max-width: 767px) {
	#res-menu{float: right; margin: 7px 10px 0 0;}
	.top-links{left: 0; right: auto;}
	.top-links .links-item {padding: 5px;}
	.cms-inner-block1 .view {
		right: 3%;
		left: auto;
	}
	.newsletter .btn.btn-lg {
		left: 0;
	}
	.newsletter .news {
		float: none;
		padding-top: 10px;
	}
	.category_list_inner {
		padding: 50px;
	}
	.newsletter .form-group {
		float: none;
		padding: 0;
	}
	.newsletter span {
		float: none;
	}
	.layout-1 #content{float: none;}
	.nav-responsive div, .responsive-menu .hitarea{float: left;}
	.responsive-menu .main-navigation ul{ padding-right: 10px; }
	.cms-inner-block1, .cms-inner-block2 {width: 100%; margin: 0 0 20px 0;}
	.countdown {float: right; margin: 0 6px 5px 0;}
	.product-brand, .product-thumb h4{float: right;}
	.tab-head { width: 100%; margin: 0 0 15px;}
	.hometab-heading.box-heading {padding: 20px 20px 0 0;}
	.product-column {width: 100%; border: none;}
	.product-block-inner{float: right;}
	.tab-head .sub-heading {margin: 0 20px 0 0; float: right;}
	.search_box .form-control-select, .search_box .form-control-select.active {background-position: 15px 18px;}
	.social-block ul {padding: 0;}
	.manufacture_block ul {float: none; padding: 0;}
	.layout-2.left-col #content {padding: 0;}
	.category_list li{margin: 0 0px 10px 10px;}
	.col-sm-8.product-left{float: none;}
	.col-sm-4.product-right {padding: 20px 0 0;}
	.contact-form .col-sm-10 {float: none;}
	.input-group-btn:last-child > .btn{ border-radius: 0; }
	#accordion .col-sm-10 {width: 100%;}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: none;}
}
@media (max-width: 660px) {
	#servicecmsblock .Fourth-content-four::after, #servicecmsblock .third-content-three::after, #servicecmsblock .second-content-two::after, #servicecmsblock .Fifth-content-five::after {
		right: -10px;
		left: 0;
	}
	.newsletter .btn.btn-lg {
		left: 0;
		right: auto;
	}
	.product-grid:nth-child(3n) .product-block-inner {
		border-left: 1px solid #ededed;
	}
	.product-grid:nth-child(2n) .product-block-inner {
		border-left: none;
	}
	
}
@media (max-width: 479px) {
	.col-sm-4.header-logo {
		margin: 3px 10px 3px 0;
		text-align: center;
	}
	#cart .dropdown-menu {
		left: -20px;
		right: auto;
	}
.cmsbanner-block .description .title {font-size: 14px; margin: 0 0 10px 0;}
.cmsbanner-block .description .subtitle{font-size: 16px;}
.cmsbanner-block .description .banner_text {margin: 10px 0 0 0;}
.cmsbanner-block .cms-inner-block1 .description, .cmsbanner-block .cms-inner-block2 .description{text-align: left;}
.sort-by-wrapper, .show-wrapper {margin: 0 0 10px 0;}
.category_filter .show {margin: 7px 0 0 10px;}
}