<!-- <link rel="stylesheet" type="text/css" href="catalog/view/javascript/megnor/slider/demo.css" /> -->
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/megnor/slider/style.css" />

<div class="wrapper">
   
                <div id="ei-slider" class="ei-slider">
                   
                    
                    <ul class="ei-slider-large">
						<li>
                            <img src="image/catalog/Main-banner-1.jpg" alt="image01"/>
                           
                        </li>
                        <li>
                            <img src="image/catalog/Main-banner-2.jpg" alt="image02" />
                           
                        </li>
                        <li>
                            <img src="image/catalog/Main-banner-3.jpg" alt="image03" />
                          
                        </li>
                        <li>
                            <img src="image/catalog/Main-banner-4.jpg" alt="image04"/>
                          
                        </li>
                        <li>
                            <img src="image/catalog/Main-banner-5.jpg" alt="image05"/>
                          
                        </li>       
                        
                       
                    </ul>
                   <!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element"></li>
						<li><a href="#"></a><img src="image/catalog/Sub-banner-1.jpg" alt="thumb01" /></li>
                        <li><a href="#"></a><img src="image/catalog/Sub-banner-2.jpg" alt="thumb02" /></li>
                        <li><a href="#"></a><img src="image/catalog/Sub-banner-3.jpg" alt="thumb03" /></li>
                        <li><a href="#"></a><img src="image/catalog/Sub-banner-4.jpg" alt="thumb04" /></li>
                        <li><a href="#"></a><img src="image/catalog/Sub-banner-5.jpg" alt="thumb05" /></li>                        
                    </ul><!-- ei-slider-thumbs -->

            </div><!-- ei-slider -->
            </div>
			
<script type="text/javascript" src="catalog/view/javascript/megnor/slider/jquery.eislideshow.js"></script>
<script type="text/javascript" src="catalog/view/javascript/megnor/slider/jquery.easing.1.3.js"></script>
<script type="text/javascript">
	$(function() {
		$('#ei-slider').eislideshow({
			animation			: 'center',
			autoplay			: true,
			slideshow_interval	: 3000,
            titlesFactor		: 0,
            Navigation : true,
		});
    });
    

    var tmnewproduct = $("#ei-slider");

        // Custom Navigation Events
        $(".newproduct_next").click(function(){
        tmnewproduct.trigger('owl.next');
        })
        $(".newproduct_prev").click(function(){
        tmnewproduct.trigger('owl.prev');
        });
</script>



